.dialogs {
    display: grid;
    grid-template-areas:
    "name mess"
    "text text";
    padding: 20px;
    color: #40514e;
}
.dialogsItem {

}

.dialog a {
    color: #40514e;
    text-decoration: none;
}
.dialog a.active {
    color: white;
}

.messages {

}

.message a {
    color: #40514e;
    text-decoration: none;
}
.message a.active {
    color: white;
}