.nav {
  grid-area: nav;
  background-color: #11999e;
  }

  .item {
  color: white;
    padding: 20px;
  }

  .item a {
    color: #40514e;
    text-decoration: none;
  }

.item a.active{
  color: white;
}